<div class="container">
    <h2 class="text-center text-success mt-5">Bienvenue dans notre Hôtel</h2>
    <p class="m-5 text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur nobis esse veniam officia rerum
        atque
        voluptates aliquid quo cum, officiis expedita explicabo placeat amet, repellendus aspernatur. Quisquam,
        laboriosam. Dolorem, nesciunt? Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam perferendis
        minima modi recusandae, consequuntur praesentium, nemo, officiis suscipit placeat ad eius eligendi eveniet culpa
        ratione illo vel molestias dolor nulla? Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus voluptate
        fugit cum ratione similique unde quibusdam debitis, ea consequuntur? Quae dolor beatae nostrum consequuntur,
        quod nam laboriosam qui laborum et. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor minima quidem
        ullam repudiandae iure vero voluptas eum provident. Rerum natus at ducimus sint! Optio, sint similique! Possimus
        minus tempora quidem.</p>

    <div>
        <div class="card m-5 mb-3 border border-success">
            <div class="row g-0">
                <div class="col-md-4  ">
                    <img  style="max-height: 500px;" src="https://q-xx.bstatic.com/xdata/images/hotel/max1280x900/245797326.jpg?k=c587f5a0d4d2928e59f2ac9e2c5680c408ff2b7ee4056a4781f0b7d086b1a7a3&o=">
                </div>
 
                <div class="col-md-8 ">
                    <div class="card-body pt-5 "  style="max-height: 500px;">
                        <h5 class="card-title text-warning ">Notre Hôtel</h5>
                        <p class="card-text text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi obcaecati ea
                            eum molestias ipsam sint repellendus minus, odio assumenda magnam autem dicta? Provident
                            debitis laudantium animi tenetur libero? Magni, ab. Lorem ipsum, dolor sit amet consectetur
                            adipisicing elit. Eligendi perferendis unde nesciunt eius sit nam modi provident, possimus
                            eos quasi obcaecati explicabo? Iusto similique dolorem omnis possimus ea, veritatis laborum?
                        </p>
                        <p class="card-text"><small class="text-muted">article paru dans le Journal du l'Hotel de Prestige - 01.2022</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>